<h3>投稿一覧</h3>
 
 <table>
   <thead>
     <tr>
       <th>投稿内容</th>
       <th>投稿者(User_id)</th>
       <div class="room-frame-inner">
          <a href="https://presite-potepancamp-rails-02.herokuapp.com/rooms/16">
            <div class="room-image-out">
              <img onerror="this.onerror=null;this.src='/assets/room01.jpg';" alt="部屋画像" class="room-image" src="/assets/room01.jpg">
            </div>
            <div class="room-profile">
              <p class="room-profile-name">っっg</p>
              <p class="room-profile-city">東京</p>
              <p class="room-profile-price price-icon">10</p>
            </div>
</a>        </div>
     </tr>
   </thead>
 
   <tbody>
     <% @rooms.each do |room| %>
       <tr>
         <%= image_tag ''>
         <td><%= room.content %></td>
         <td><%= room.user_id %></td>
       
       </tr>
     <% end %>
   </tbody>
 </table>
 
 <p><%= link_to "ユーザー新規登録", :new_user %></p>