.header {
    width: 100%;
    height: 70px;
    padding: 4px 30px;
    background-color: #000000;
}
.header-left-nav {
  float: left;
}

<img alt="サイトのロゴ画像" src="/assets/logo.png">https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png

.header-left-nav form {
  display: inline-block;
}
.header-sharch {
  position: relative;
}
.d-none {
  display: none!important;
}
.header-left-nav .form-control {
  width: 180px;
  display: inline-block;
  position: relative;
  border-radius: 2px;
  padding-left: 30px;
}
.header i {
  position: absolute;
  top: 10px;
  left: 8px;
  font-size: 18px;
}
.header-sharch {
  position: relative;
}
.header-left-nav .form-control {
  width: 180px;
  display: inline-block;
  position: relative;
  border-radius: 2px;
  padding-left: 30px;
}
.header i {
  position: absolute;
  top: 10px;
  left: 8px;
  font-size: 18px;
}
.header-right-nav {
  float: right;
}
.header .nav-item {
  display: inline-block;
  color: #fff;
  font-size: 14px;
}
.header .nav-item {
  display: inline-block;
  color: #fff;
  font-size: 14px;
}
.host-icon {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50px;
}
.header-nav-menu {
  background-color: #fff;
  border: 3px solid #F6F8F9;
  display: none;
  position: absolute;
  top: 70px;
  right: 10px;
  padding: 15px;
  z-index: 1000;
}
.header-nav-menu li {
  line-height: 30px;
  font-size: 16px;
  padding: 3px 5px;
}
.header-nav-menu {
  background-color: #fff;
  border: 3px solid #F6F8F9;
  display: none;
  position: absolute;
  top: 70px;
  right: 10px;
  padding: 15px;
  z-index: 1000;
}
.header-nav-menu li {
  line-height: 30px;
  font-size: 16px;
  padding: 3px 5px;
}
a {
  color: #000;
}